spring:
  task:
    scheduling:
      enabled: true
  application:
    name: SmartTaskManager
  datasource:
    url: jdbc:postgresql://172.17.0.3:5432/taskmanagerdb
    driverClassName: org.postgresql.Driver
    username: postgres
    password: local
    timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
server:
  port: 8080

tasks:
  reminderDays: 3
  cleanupDays: 90
  archiveDays: 30

